:root {
	--font: 'Rubik', sans-serif;

	--color-primary-blue: hsl(246, 80%, 60%);
	--color-primary-work: hsl(15, 100%, 70%);
	--color-primary-play: hsl(195, 74%, 62%);
	--color-primary-study: hsl(348, 100%, 68%);
	--color-primary-exercise: hsl(145, 58%, 55%);
	--color-primary-social: hsl(264, 64%, 52%);
	--color-primary-selfcare: hsl(43, 84%, 65%);

	--color-neutral-very-dark-blue: hsl(226, 43%, 10%);
	--color-neutral-dark-blue: hsl(235, 46%, 20%);
	--color-neutral-desaturated-blue: hsl(235, 45%, 61%);
	--color-neutral-blue: hsl(236, 100%, 87%);
}

body {
	background-color: var(--color-neutral-very-dark-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: var(--font);
}

h1 {
	font-weight: 300;
	font-size: 33px;
}

h2 {
	font-weight: 300;
	color: white;
}

h3 {
	font-weight: 500;
}

p {
	color: var(--color-neutral-blue);
	font-size: 14px;
}

ul {
	display: flex;
}

li {
	list-style: none;

	padding: 24px;
	color: var(--color-neutral-desaturated-blue);
}

li:hover {
	color: white;
}

.person-div {
	background-color: var(--color-neutral-dark-blue);
	width: 325px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.person-id {
	background-color: var(--color-primary-blue);
	border-radius: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}

.person-detail {
	display: flex;
	flex-direction: column;
}

.photo {
	width: 68px;
	border: 3px solid white;
	border-radius: 50%;
}

.chrono-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.chrono-active {
	color: white;
}

.section-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item {
	width: 325px;
	height: 160px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.item-work {
	background-color: var(--color-primary-work);
	background-image: url(images/icon-work.svg);
	background-repeat: no-repeat;
	background-position: 95% -12%;
}

.item-play {
	background-color: var(--color-primary-play);
	background-image: url(images/icon-play.svg);
	background-repeat: no-repeat;
	background-position: 95% -2%;
}

.item-study {
	background-color: var(--color-primary-study);
	background-image: url(images/icon-study.svg);
	background-repeat: no-repeat;
	background-position: 95% -7%;
}

.item-exercise {
	background-color: var(--color-primary-exercise);
	background-image: url(images/icon-exercise.svg);
	background-repeat: no-repeat;
	background-position: 95% 0%;
}

.item-social {
	background-color: var(--color-primary-social);
	background-image: url(images/icon-social.svg);
	background-repeat: no-repeat;
	background-position: 95% -20%;
}

.item-selfcare {
	background-color: var(--color-primary-selfcare);
	background-image: url(images/icon-self-care.svg);
	background-repeat: no-repeat;
	background-position: 95% -12%;
}

.block {
	height: 120px;
	width: 100%;
	background-color: var(--color-neutral-dark-blue);
	border-radius: 10px;
	display: flex;
	flex-direction: column;

	color: white;
}

.block:hover {
	background-color: hsl(235, 46%, 30%);
	cursor: pointer;
}
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 24px 12px 24px;
}

.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
}

.options {
	width: 20px;
	height: 5px;
}

.options:hover {
	filter: brightness(200%);
	cursor: pointer;
}

.attribution {
	font-size: 11px;
	padding-top: 40px;
	text-align: center;
	color: var(--color-neutral-blue);
}
.attribution a {
	color: hsl(228, 45%, 44%);
	padding-left: 5px;
	padding-right: 5px;
}
